.section-header {
  border-top: 4px solid #c7c7c7;
  border-bottom: 2px solid #c7c7c7;
  padding: .2rem 0 .4rem;
  margin-bottom: 1rem;
}
.section-header h2 { margin-top: 0.5rem;}
.resume-item h4 { font-family: var(--body-font); margin: 0 1rem 0; line-height: 1.5;}
.resume-item p { margin: 0 1rem 0; }
.resume-item-title { margin-bottom: 0.5rem; margin-top: 0;}

.resume-item {
    margin-bottom: 1rem;
}

hr.medium {
  max-width: 100%;
  margin: 1rem auto;
  border-width: 0.25rem;
  border-color: #c7c7c7;
  border-radius: 0.1875rem;
}

.top-links {
    font-size: 1rem;
}

/* .publication {
    font-size: 0.875rem;
} */

.resume-item-list p {
    margin: 0;
}

.contact-button {
    border-radius: 3px;
    background-color: #dcc89f;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 1.5rem auto;
    width: 220px;
    font-size: 1.375rem;
    color: #333;
    line-height: 55px;
    font-weight: 300;
    transition: all .2s ease;
    &:hover {
    background-color: #333;
    color: #fff;
    }
    &.not-looking { width: 400px; }
}

.publications {
    margin-top: 3.125rem;
}

.download-btn {width: 264px;}

.download-btn .icon {
  display: inline-block;
  width: 2rem;
  margin-left: 6px;
  transform: translateY(-2px)
}

.download-btn .icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor; /* Makes SVG follow button text color */
}