---
layout: page
---

{{ content }} {% include social-networks-links.html %}
<header class="section-header">
  <h2>About Me</h2>
</header>

<div class="resume-item">{{site.data.resume.about_me | markdownify}}</div>
<a
  href="mailto:{{ site.social-network-links.email }}"
  class="contact-button no-print"
  itemprop="email"
  >Contact me</a
>

<header class="section-header">
  <h2>Current Research</h2>
</header>

{% for research in site.data.resume.current_research %}
<div class="resume-item">
  <h3 class="resume-item-title" itemprop="name">{{ research.topic }}</h3>
  <h4 class="resume-item-details" itemprop="description">
    {{ research.goal }}
  </h4>
  <ul class="resume-item-list">
    {% for task in research.tasks %}
    <li>{{ task.task }}</li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<header class="section-header">
  <h2>Academic Experience</h2>
</header>

{% for job in site.data.resume.experience %}
<div class="resume-item">
  <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
  <h4 class="resume-item-details" itemprop="description">
    {{ job.position }} &bull; {{ job.duration }}
  </h4>
  <ul class="resume-item-list">
    {% for job in job.jobs %}
    <li>{{ job.job }}</li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<header class="section-header">
  <h2>Technical Skills</h2>
</header>

<div class="resume-item">
  <ul class="resume-item-list">
    {% for skill in site.data.resume.skills %}
    <li>{{ skill | markdownify }}</li>
    {% endfor %}
  </ul>
</div>

<header class="section-header">
  <h2>Publications</h2>
</header>

<div class="resume-item">
  <ol class="resume-item-list">
    {% for publication in site.data.resume.publications %}
    <li class="publication">{{ publication | markdownify }}</li>
    {% endfor %}
  </ol>
</div>
